@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    font-family: 'Lato', sans-serif;
    margin: 0 auto;
    width: 75%;
    text-align: center;
    
}

.header h1 {
    text-transform: uppercase;
}

.image-container {   
    clip-path: circle(50% at 50% 50%);
    background-image: url('../img/profile1.jpg');
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 450px;
    margin: 2rem auto;  
}

.navigation ul li {
    border: 1px solid black;
    border-radius: 5px;
    display: inline-block;
    font-size: 2rem;
    padding: 1rem;
    width: 16rem;
    margin: 3rem 0;
}

.navigation ul li:not(:last-child) {
    margin-right: 6rem;
}


.main-container {
    margin: 0 auto;
    width: 75%;
}

.main-container div {
    margin-bottom: 2rem;
}

.main-container h1 {
    margin-bottom: 5rem;
}

.main-container p {
    text-align: justify;
}

.footer {
    font-size: 2rem;
    padding: 2rem;
}

.footer ul {
    list-style: none;
    margin-bottom: 3rem;
}

.footer ul li {
    display: inline-block;
    margin: 2rem;
}

.footer ul a {
    color: #777;
    text-decoration: none;
}


@media (min-width: 480px) {
    .image-container {
        background-image: url("../img/profile1.jpg");
    }
    
    .header {
        color: rgb(58, 85, 47);
    }

    .main {
        color: rgb(58, 85, 47);
    }

    .footer ul a {
        color: rgb(58, 85, 47);
    }

    .footer {
        color: rgb(58, 85, 47);
    }

    .container {
        background-color: rgb(167, 252, 252);
        color: rgb(58, 85, 47);
        width: 100%;
    }
    
    .navigation ul li {
        display: block;
        font-size: 1rem;
        margin: 0;
        width: 100%;
        color: rgb(58, 85, 47);
        border: 1px solid rgb(58, 85, 47);
    }
    .navigation ul li:not(:last-child) {
        border-bottom: none;
    }

    .main-container {
        padding: 0.75rem;
        width: 100%;
    }

    .main-container h1 {
        margin: 1rem auto;
    }
    
}


@media (min-width: 768px) {
    .image-container {
        background-image: url("../img/profile2.jpg");
    }

    .header {
        color: rgb(158, 109, 112);
    }

    .main {
        color: rgb(158, 109, 112);
    }

    .footer ul a {
        color: rgb(158, 109, 112);
    }

    .footer {
        color: rgb(158, 109, 112);
    }

    .container {
        background-color: rgb(255, 206, 240);
    }

    .navigation ul li {
        color: rgb(158, 109, 112);
        border: 1px solid rgb(158, 109, 112);
    }

}


@media (min-width: 1024px){
    .image-container {
        background-image: url("../img/profile3.jpg");
    }

    .header {
        color: rgb(100, 93, 91);
    }

    .main {
        color: rgb(100, 93, 91);
    }

    .footer ul a {
        color: rgb(100, 93, 91);
    }

    .footer {
        color: rgb(100, 93, 91);
    }

    .container {
        background-color: rgb(237, 241, 193);
    }

    .navigation ul li {
        color: rgb(100, 93, 91);
        border: 1px solid rgb(100, 93, 91);
    }
        
}


@media (min-width: 1200px){
    .image-container {
        background-image: url("../img/profile4.jpg");
    }

    .header {
        color: rgb(148, 106, 135);
    }

    .main {
        color: rgb(148, 106, 135);
    }

    .footer ul a {
        color: rgb(148, 106, 135);
    }

    .footer {
        color: rgb(148, 106, 135);
    }

    .container {
        background-color: rgb(174, 255, 191);
    }

    .header h1 {
        margin: 3rem auto;
    }
    .navigation ul li {
        color: rgb(148, 106, 135);
        border: 1px solid rgb(148, 106, 135);
        display: inline-block;
        width: 16rem;
    }
    
    .navigation ul li:not(:last-child) {
        border-bottom: 1px solid black;
        margin-right: 4rem;
    }

    .main-container {
        width: 75%;
    }

}


